.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginPage {
  position:fixed;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  padding: 3%;
  padding-left: 3.5%;
  padding-right: 1%;
  box-shadow: 10px;
  border-radius: 7%;
  background-color: #ffffff;
  width: 325px;
  border: solid 5px #A9A9A9;
}
.loginButton {
  margin-top: 10px;
}

.loginPage h2 {
  margin-top: 0px;
  margin-bottom: 13px;
}

.loginButton button {
  margin-right: 5px;
  cursor: pointer;
}

#loginForm TextField {
  margin-right: 5px;
}

@media (max-width: 1200px){
  #container{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .loginPage{
    float:none;
    top:50%;
    left:50%;
  }
  #info{
    width: 329px;
    top:20%;
    left: 50%;
  }
}

#container {
  display: flex;
  height: 100vh;
  position: relative;
}

#info{
  position: fixed;
  top: 50%;
  left: 40%;
  width: 25%;
  transform: translate(-50%, -50%);
  color: white;
}

html{
  
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  
}

#RegisterPage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  padding-left: 3.5%;
  width: 25%;
  box-shadow: 10px;
  border-radius: 7%;
  background-color: #ffffff;
  border: solid 5px #A9A9A9;
}

#RegisterTitle {
  margin-top: 0;
}

#dashboard{
  background-color: #96B7D6 !important;
}

#container{
  background-color: #0C3C80;
}

#RegisterPage{
  background-color: #ffffff;
}